* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
  font-family: "Poppins";
}

body {
  background: #232424;
  color: #fff;

}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.201);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  width: 200px;
  position: absolute;
  background-color: #3a3c3d;
  z-index: 1;
  transition: all 0.3s;
}

.dropdown-content li {
  cursor: pointer;
  padding: 5px 0;

}

.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content li:hover {
  background-color: #fff;
  color: #000000;
  transition: .3s;
}


.dropdown-lang {
  position: relative;
  display: inline-block;
}

.dropdown-content-lang {
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  width: 100px;
  position: absolute;
  background-color: #3a3c3d;
  z-index: 1;
  transition: all 0.3s;
}

.dropdown-content-lang li {
  cursor: pointer;
  padding: 5px 0;

}

.dropdown-lang:hover .dropdown-content-lang {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content-lang li:hover {
  background-color: #fff;
  color: #000000;
  transition: .3s;
}

.bg-img {
  position: absolute;
  top: 1200px;
}

.golden-color {
  color: #b5964d;
}


header {
  position: relative;
  height: 810px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0 !important;
  transition: 0.2s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.1 !important;
  background-color: rgba(0, 0, 0, 0.479);
}

.carousel-indicators {
  position: absolute;
  bottom: 120px;
  left: 81%;
  width: 50px;

}

.carousel-indicators button.active {
  background-color: #b5964d;
  width: 50px;
  height: 3px;
}

.carousel-indicators {
  position: absolute;
  left: 1000px;
  width: 100px;

}


.header-title1 {
  top: 80px;
}

.header-title2 {
  top: 200px;
  left: 850px;
}

.header-desc {
  position: absolute;
  font-weight: 200;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.552);
}

.header-desc1 {
  top: 170px;
  left: 800px;
}

.header-desc2 {
  top: 500px;
  left: 900px;
}

.header-desc3 {
  top: 500px;
  left: 950px;
}

.header-img {
  top: 40px;
  left: 52%;
  transform: translate(-50%);
}

.header-img2 {
  top: 80px;
  left: 57%;
  transform: translate(-50%);
}

.header-img3 {
  bottom: 0px;
  left: 54%;
  transform: translate(-50%);
}

.header-img4 {
  top: 100px;
  left: 54%;
  transform: translate(-50%);
}

.header-img5 {
  top: 95px;
  left: 51%;
  transform: translate(-50%);
}

.header-img6 {
  top: 90px;
  left: 52%;
  transform: translate(-50%);
}

.header-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.header-link {
  border: 1px solid #ffffff72;
  padding: 10px 20px;
}

.header-box {
  position: absolute;
  top: 350px;
}

.header-items {
  position: absolute;
  top: 700px;
  background: #424242d7;
}

.header-items-item {
  border-right: 2px solid rgba(192, 183, 232, 0.33);
  height: 80px;
  width: 33%;
}

.hero {
  background: #3a3c3d;
}

.hero-box {
  width: 370px;
}

.hero-desc {
  font-family: "Open Sans";
}


.main {
  background-color: #232424;
}

.adiblar-img {
  width: 650px;
}

@media only screen and (max-width: 600px) {
  .adiblar-img {
    width: 380px;
  }
}


/* YANGILIKLAR */

.pagination li a{
  background-color: #3a3c3d !important;
  border: none;
  color: #fff;
  margin: 10px;
  padding: 5px 15px;
}